@import "../../variables.scss";
.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  position: relative;
  z-index: 2;
  padding: 0;
  background-color: transparent;
  &__link {
    display: block;
    width: 134px;
    height: 24px;
    margin-left: 17px;
    @media screen and (min-width: $tablet) {
      margin-left: 24px;
    }
    @media screen and (min-width: $desktop) {
      margin-left: 2px;
    }
  }
  &__sidenav_btn {
    width: 54px;
    height: 64px;
    background-image: url('../../assets/icons/line-menu.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @media screen and (min-width: $tablet) {
      margin-right: 9px;
    }
  }
}
