@import "../../../variables.scss";
.user {
  margin-bottom: 32px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 238px;
    margin-bottom: 38px;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: flex-start;
    width: 288px;
    margin-top: 24px;
    margin-bottom: 35px;
  }
  &s {
    @media screen and (min-width: $tablet) {
      padding: 115px 15px 21px;
      text-align: center;
    }
    @media screen and (min-width: $desktop) {
      padding: 136px 15px 20px;
    }
    &__wrap {
      margin-bottom: 37px;
      @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 16px;
      }
      @media screen and (min-width: $desktop) {
        padding: 0 3px 0;
        margin-bottom: 14px;
      }
    }
    &__title {
      margin-bottom: 4px;
      @media screen and (min-width: $tablet) {
        margin-bottom: 13px;
      }
      @media screen and (min-width: $desktop) {
        margin-bottom: 12px;
      }
    }
    &__subtitle {
      padding: 0 60px 30px;
      @media screen and (min-width: $tablet) {
        text-align: center;
        padding: 0 60px 5px;
      }
      @media screen and (min-width: $desktop) {
        padding: 0;
      }
    }
    &__btn {
      width: 290px;
      color: $btn-text-color;
      font-size: 1.25em;
      border-radius: 4px;
      border-width: 2px;
      border-color: #ec6b0e;
      border-style: solid;
      box-sizing: border-box;
      transition: $speed ease-in;
      &:hover {
        background-color: $btn-bg-hover-color;
        color: $hover-color;
      }
    }
  }
  &__wrap {
    @media screen and (min-width: $desktop) {
      padding-top: 24px;
      width: 205px;
    }
  }
  &__image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 11px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 13px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 8px;
    }
  }
  &__name {
    margin: 0 30px 5px;
    @media screen and (min-width: $tablet) {
      margin: 0 5px 4px;
      text-align: center;
    }
    @media screen and (min-width: $desktop) {
      margin: 0 0 10px;
      text-align: left;
    }
  }
  &__info {
    margin-bottom: 5px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 3px;
    }
    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }
  &__position {
    @media screen and (min-width: $desktop) {
      margin-bottom: 2px;
    }
  }
  &__email {
    white-space: nowrap;
    @media screen and (min-width: $tablet) {
      width: 200px;
      margin: 0 auto 2px;
    }
  }
}
