@import "../../../variables.scss";
.banner {
  //height: 393px;
  padding: 67px 15px 70px;
  background-image: url('../../../assets/imgs/bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    color: $white-color;
    margin-bottom: 10px;
  }
  &__description {
    @extend .banner__title;
    margin-bottom: 38px;
  }
  &__sign-up_btn {
    margin: 0 auto;
  }
}

.sign-up__btn {
  display: block;
  width: 290px;
  border-radius: 4px;
  font-size: 1.25em;
  color: darken($white-color, 0.39);
  background-color: $primary-color;
  transition: $speed ease-in;
  box-shadow: none;
  &:hover {
    background-color: $hover-color;
  }
  &[disabled] {
    background-color: #d7d7d7;
    color: #8d8c8c;
    cursor: inherit;
  }
}
