<section class="main banner">
  <div class="wrap">
    <div class="banner__content">
      <h1 class="banner__title h1">Test assignment for Frontend Developer position</h1>
      <p class="banner__description p1">
        <span class="tablet_smaller desktop_smaller">
          We kindly remind you that your test assignment should be submitted
          as a link to github/bitbucket repository.
        </span>
        <span class="tablet_bigger desktop_bigger">
          We kindly remind you that your test assignment should be submitted
          as a link to github/bitbucket repository.
          Please be patient, we consider and respond to every application that meets
          minimum requirements. We look forward to your submission. Good luck!
        </span>
      </p>
      <button class="btn sign-up__btn banner__sign-up_btn">Sign Up</button>
    </div>
  </div>
</section>
