@import "../../../../variables.scss";

:host {
  display: block;
}

.cls-1,
.cls-2 {
  isolation: isolate;
}

.cls-2 {
  font-size: 24px;
  font-family: ArchivoNarrow-Regular, Archivo Narrow;
}

.cls-2,
.cls-3 {
  fill: #161616;
}

.footer_color {
  fill: $white-color;
}
