@import "../../../variables.scss";
.about-me {
  @media screen and (min-width: $tablet) {
    padding-bottom: 68px;
  }
  @media screen and (min-width: $desktop-2k) {
    padding-bottom: 19px;
  }
  &__title {
    margin-bottom: 17px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 44px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 22px;
    }
    &_sub {
      padding: 0 15px;
      margin-bottom: 12px;
      @media screen and (min-width: $tablet) {
        padding: 0;
        margin-bottom: 13px;
      }
      @media screen and (min-width: $desktop) {
        margin-bottom: 8px;
      }
    }
  }
  &__image {
    height: 216px;
    margin-bottom: 28px;
    @media screen and (min-width: $tablet) {
      margin: 0px 29px 0px 0;
    }
    @media screen and (min-width: $desktop) {
      height: 285px;
    }
  }
  &__content {
    &_wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (min-width: $tablet) {
        flex-direction: row;
        align-items: flex-start;
      }
      @media screen and (min-width: $desktop) {
        padding: 0 3px;
      }
    }
    @media screen and (min-width: $desktop) {
      padding-top: 24px;
    }
  }
  &__description {
    &:first-of-type {
      margin-bottom: 22px;
    }
    &:last-of-type {
      margin-bottom: 8px;
      @media screen and (min-width: $tablet) {
        margin-bottom: 13px;
      }
      @media screen and (min-width: $desktop-2k) {
        margin-bottom: 6px;
      }
    }
    @media screen and (min-width: $desktop) {
      padding-left: 2px;
    }
  }
}

.sign-up {
  color: $btn-text-color; // #ed6b0e;
  font-size: 1.375em;
  width: 100%;
  transition: $speed ease-in;
  &:hover {
    color: $hover-color;
  }
  @media screen and (min-width: $tablet) {
    width: 75px;
    padding: 0;
  }
}
