<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="over">
    <app-login></app-login>
    <app-menu></app-menu>
  </mat-drawer>

  <div class="sidenav-content">
    <app-header ></app-header>
    <app-banner></app-banner>
    <app-about-me></app-about-me>
    <app-relationships></app-relationships>
    <app-requirements></app-requirements>
    <app-users></app-users>
    <app-sign-up></app-sign-up>
    <app-footer></app-footer>
  </div>

</mat-drawer-container>


