<section class="main sign-up">
  <h2 class="h2 sign-up__title">Register to get a work</h2>
  <p class="p1 sign-up__subtitle">
    Attention! After successful registration and alert,
    update the list of users in the block from the top
  </p>
  <form class="sign-up__form form">
    <div class="form__row">
      <div class="form__field">
        <label for="inputName" class="form__field_title label" >Name</label>
        <input id="inputName" class="form__input form__input_small" type="text" placeholder="Your name">
      </div>
      <span class="form__info"></span>
    </div>

    <div class="form__row form__row_email">
      <div class="form__field">
        <label for="inputEmail" class="form__field_title " >Email</label>
        <input id="inputEmail" class="form__input form__input_small" placeholder="Your email" type="email">
      </div>
      <span class="form__info"></span>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label for="inputPhone" class="form__field_title" >Phone</label>
        <input
          id="inputPhone"
          class="form__input form__input_small"
          type='text'
          prefix="+38 "
          mask="(___) ___ __ __"
          [showMaskTyped]="true"
          placeholder="+38 (___) ___ __ __"
        >
      </div>
      <span class="form__info"></span>
    </div>
    <div class="form__row">
      <div class="form__field">
        <app-select></app-select>
      </div>
    </div>

    <div class="form__row">
      <div class="form__field">
        <label for="inputFile" class="form__input form__input_big form__label_file">
          <span class="form__label_placeholder">Upload your photo</span>
          <div class="upload__btn">
            <span class="upload__btn_name tablet_bigger">upload</span>
            <i class="form__label_icon tablet_smaller"></i>
          </div>
        </label>
        <input id="inputFile" type="file" class="form__input_file">
      </div>
      <span class="form__info">File format jpg up to 5 MB, the minimum size
        of 70x70px</span>
    </div>

    <div class="form__row form__row_btn">
        <button type="submit" class="btn form__btn" disabled >Sign Up</button>
    </div>
  </form>
</section>
