@import '../../../variables.scss';
@import '../banner/banner.component.scss';
.sign-up {
  margin-bottom: 38px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 80px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 99px;
  }
  &__title {
    margin-bottom: 2px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 22px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 13px;
    }
  }
  &__subtitle {
    margin-bottom: 32px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 53px;
      text-align: center;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 63px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media screen and (min-width: $desktop) {
    padding: 0 3px 0 2px;
  }
  &__row {
    margin-bottom: 33px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;
    }
    &_email {
      margin-bottom: 35px;
      @media screen and (min-width: $tablet) {
        margin-bottom: 40px;
      }
    }
    &_btn {
      margin-top: 30px;
      @media screen and (min-width: $tablet) {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  &__field {
    position: relative;
    border-radius: 4px;
    border: 1px solid #b7b7b7;
    &_title {
      position: absolute;
      top: -6px;
      left: 12px;
      color: #8d8c8c;
      font-size: 0.75em;
      text-align: left;
      padding: 0 4px;
      background-color: #fff;
    }
  }
  &__input {
    font-family: $main-font;
    font-size: 1em;
    background-color: transparent;
    border: none;
    outline: none;
    width: 288px;
    height: 54px;
    padding: 0 0 3px 16px;
    box-sizing: border-box;
    @media screen and (min-width: $tablet) {
      &_big {
        width: 343px;
      }
      &_small {
        width: 218px;
      }
    }
    @media screen and (min-width: $desktop) {
      &_big {
        width: 448px;
      }
      &_small {
        width: 288px;
      }
    }
    &_file {
      position: absolute;
      visibility: hidden;
      overflow: hidden;
      z-index: -1;
      width: 0;
      height: 0;
    }
  }
  &__label {
    &_file {
      display: block;
    }
    &_icon {
      width: 52px;
      height: 52px;
      background-image: url('../../../assets/icons/upload.svg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    &_placeholder {
      display: block;
      width: 217px;
      line-height: 52px;
      color: #8d8c8c;
      text-align: left;
    }
  }
  &__info {
    display: block;
    position: absolute;
    color: #8d8c8c;
    font-size: 0.75em;
    text-align: left;
    line-height: 1.2;
    margin: 5px 40px 0 18px;
  }
  &__btn {
    @extend .sign-up__btn !optional;
  }
}

.upload {
  &__btn {
    height: 52px;
    display: block;
    position: absolute;
    right: -1px;
    top: -1px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 2px;
    border-color: $primary-color;
    border-style: solid;
    &_name {
      color: $primary-color;
      font-size: 1.125em;
      font-weight: 700;
      line-height: 3;
      text-align: center;
      text-transform: capitalize;
      letter-spacing: 1px;
      padding-left: 3px;
    }
    @media screen and (min-width: $tablet) {
      width: 126px;
    }
  }
}
