/* You can add global styles to this file, and also import other style files */

@import "./theme.scss";
@import "./variables.scss";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
  &:before,
  &:after {
    content: '';
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  color: $black-color;
}

html,
body {
  height: 100%;
}

.btn {
  font-family: $main-font;
  font-weight: 700;
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  line-height: 1;
}

.h1,
.h2,
.h3,
.h4 {
  font-family: $heading-font;
  font-weight: 600;
  color: $black-color;
}

.h1 {
  font-size: 1.875em;
  line-height: 1.136;
  @media screen and (min-width: $tablet) {
    font-size: 2.625em;
    line-height: 1.2;
  }
  @media screen and (min-width: $desktop) {
    font-size: 3.125em;
    line-height: 1.2;
  }
}

.h2 {
  font-size: 1.625em;
  line-height: 1.923;
  @media screen and (min-width: $tablet) {
    font-size: 2.625em;
    line-height: 1.2;
    text-align: center;
    padding: 0 60px;
  }
  @media screen and (min-width: $desktop) {
    padding: 0 160px;
  }
  @media screen and (min-width: $desktop-2k) {
    padding: 0 260px;
  }
}

.h3,
.h4 {
  font-size: 1.375em;
  line-height: 26px;
}

.h3 {
  @media screen and (min-width: $tablet) {
    font-size: 1.625em;
    line-height: 1;
  }
}

.p2,
.p3 {
  color: $black-color-description;
}

.p1 {
  line-height: 1.4;
  @media screen and (min-width: $tablet) {
    width: 385px;
    margin: 0 auto 35px;
    font-size: 1.125em;
    line-height: 1.2;
  }
  @media screen and (min-width: $desktop) {
    width: 100%;
  }
}

.p2 {
  line-height: 1.375;
}

.p3 {
  font-size: 0.875em;
  text-overflow: ellipsis;
  overflow: hidden;
  @media screen and (min-width: $tablet) {
    text-align: center;
    line-height: 1.25;
  }
}

.main {
  padding: 58px 14px 0;
  text-align: center;
  @media screen and (min-width: $tablet) {
    text-align: left;
    padding: 114px 24px 120px;
  }
  @media screen and (min-width: $desktop) {
    padding: 135px 25px 120px;
  }
}

.tablet {
  &_smaller {
    display: block;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      display: none;
    }
  }
  &_bigger {
    display: none;
    @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
      display: block;
    }
  }
}

.desktop {
  &_bigger {
    @media screen and (min-width: $desktop) {
      display: block;
    }
  }
  &_smaller {
    @media screen and (min-width: $desktop) {
      display: none;
    }
  }
}

.wrap {
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    margin: 0 auto;
  }
  @media screen and (min-width: $desktop) {
    max-width: 935px;
  }
  @media screen and (min-width: $desktop-2k) {
    max-width: 1145px;
  }
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.mat-nav-list .mat-list-item {
  height: 44px;
  &:hover {
    color: $primary-color;
    background: none !important;
  }
  & .mat-list-item-content {
    padding: 0 15px !important;
    @media screen and (min-width: $tablet) {
      padding: 0 24px !important;
    }
    @media screen and (min-width: $desktop) {
      padding: 0 15px !important;
    }
    @media screen and (min-width: $desktop-2k) {
      padding: 0 14px !important;
    }
  }
}

.devider {
  height: 1px;
  background-color: #5873b7;
  width: 100%;
  position: absolute;
}
